<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
	<httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
		<rule name="wordpress" patternSyntax="Wildcard">
		  <match url="*"/>
			<conditions>
			  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
			  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
			</conditions>
		  <action type="Rewrite" url="index.php"/>
		</rule>
	  </rules>
    </rewrite>
	<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
